.cont{
	display: flex;
	flex-direction: row;
	margin: 50px;
}
.menu{
	display: flex;
	flex-direction: column;
	width: 300px;
}
.text{
	width: 800px;
	margin-left: 50px;
}
.act_1,.act_2{
	margin: 10px;
}
.hidden{
	display: none;
}
